@charset "utf-8";

.banner { position: relative; text-align: center; }

.logo { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }

.submit { margin: 30px auto; }

.icon-eye { margin-right: 0; }

.blue:before { color: #1296db; }